//scss
$font-color:#D6D6D6; //菜单和歌曲名颜色
$font-hovercolor:#ffffff; 

$font-authorcolor:#7F7F7F; //歌曲作者颜色
$font-hoverauthorcolor:#AFAFAF;

$headeraudiobg: #222225;
$bodybg: #2B2B2B;
$hvoerbodybg: #333333;