//scss
$font-color:#D0D0D0; //菜单和歌曲名颜色
$font-hovercolor:#ffffff; 

$font-authorcolor:#7F7F7F; //歌曲作者颜色
$font-hoverauthorcolor:#AFAFAF;

$headeraudiobg: #222225;
$bodybg: #2B2B2B;
$hvoerbodybg: #333333;

$musicNameOn:#EC4141;

$checkhvoerbg: #373737;

$artistsonglistbg:#2E2E2E;
$artistsonglistcheckall:#292929;

$albumpublishTime:#878787;

$albumsongsheetinfo_color: #85B9E6;
$albumsongsheetinfo_hovercolor: #B3CEE5;

$albumsongsheetinfo_hoverbtnbg:#D83E3E;

$bodercolor:#434343;