//scss
$font-color:#D0D0D0; //菜单和歌曲名颜色
$font-hovercolor:#ffffff; 

$font-authorcolor:#7F7F7F; //歌曲作者颜色
$font-hoverauthorcolor:#AFAFAF;

$headeraudiobg: #222225;
$bodybg: #2B2B2B;
$hvoerbodybg: #333333;

$musicNameOn:#EC4141;

$checkhvoerbg: #373737;

$artistsonglistbg:#2E2E2E;
$artistsonglistcheckall:#292929;

$albumpublishTime:#878787;

$albumsongsheetinfo_color: #85B9E6;
$albumsongsheetinfo_hovercolor: #B3CEE5;

$albumsongsheetinfo_hoverbtnbg:#D83E3E;

$bodercolor:#434343;

$bodercolort:#343434;

$commentPageNPbtnbg:#383838;


.common-pagination{
    width: 100%;
    padding: 20px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    ::v-deep .btn-next, ::v-deep .btn-prev{
        background-color:$commentPageNPbtnbg;
    }
    ::v-deep .btn-next, ::v-deep .btn-prev, ::v-deep .el-pager li{
        border: 1px solid $bodercolor;
        border-radius: 5px;
    }
    ::v-deep .el-pager li{
        background-color: transparent;
    }
    ::v-deep .el-pager li:not(.is-disabled):hover{
        border: none;
        color: $font-hoverauthorcolor;
    }
    ::v-deep .el-pager li:not(.is-disabled).is-active{
        background-color: $albumsongsheetinfo_hoverbtnbg;
        border: 1px solid $bodercolort;
        color:#ffffff;
    }
    ::v-deep .btn-next:hover:not([disabled]), ::v-deep .btn-prev:hover:not([disabled]) {
        border: none;
        background-color: transparent;
        color: $font-hoverauthorcolor;
    }
    ::v-deep .btn-next:disabled, ::v-deep .btn-prev:disabled{
        color: $font-authorcolor;
        background-color: $commentPageNPbtnbg;
    }
}